@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$body-bg: #fff6f9;

$primary-color: #000000; 
$secondary: #ffff; 
$tertiary: #333333; 
$loading-color: #f5f5f5;
$font-family: 'Poppins', sans-serif;
$nav-background: #f2f2f2;
$brand-color: #1c960c;


.movie-card {  
  display: grid;
  grid-template-rows: 1fr 1fr auto;
  background-color: $secondary;
  height: auto;
  margin-top: 1em;
  border-radius: 6px;
  font-size: calc(16px + 0.16vmin);
  cursor: pointer;
  transition-property: transform 0.5s; 
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  &:hover, &:focus {
    transform: scale(1.05);
  }
 }

 .img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
 }

 .card-body {
  grid-template-rows: subgrid;
  &__title {
    font-size: 1.3rem;
  }

  &__description {
    font-size: 1rem;
  }
 }

 .link-btn {
  text-decoration: none;
  color: #ffffff;
  background: $brand-color;
  margin: 5px 0;

 }


@media all and (max-width: 768px){
  .movie-card {
    grid-template-rows: 15em 1fr auto;
    width: 100%;
  }
}