@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$body-bg: #fff6f9;

$primary: #d54022; 
$secondary: #ffff; 
$tertiary: #333333; 
$loading-color: #f5f5f5;
$font-family: 'Poppins', sans-serif;
$active-color: #1efe00;
$nav-background: #f2f2f2;
$brand-color: #1c960c;

* {
  font-family: $font-family;
}

.home {
  display: block;
}

.main {
  padding: 1rem;
}

.footer {
  display: flex;
  flex-direction: row;
  height: auto;
  margin-top: 7rem;

  &__copyright {
    margin-top: 13rem;
    padding: 0;
    font-size: 0.8rem;
  }
}

// .form {
//   margin-top: -35.5rem;
// }

@media all and (max-width: 768px) {
  .home {
    display: none;
  }

  .main {
    padding: 0rem;
  }

  .skeleton {
    grid-template-rows: repeat(2, 1fr);
  }

  .hero-text {
    font-size: calc(26px + 2vmin);
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .hero-text p {
    font-size: calc(16px + 1vmin);
  }

  .footer {
    flex-direction: column-reverse;
  }
}