.profile {
  margin-top: 6rem;
}

.profile-view {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media all and (max-width: 768px){
  .profile {
    margin-top: 5rem;
  }

  .profile-view {
    flex-direction: column;
  }
}