@import '~bootstrap/scss/bootstrap.scss';

.title {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-top: 0;
}

.movie-actors {
  display: flex;
  gap: 10px;
  align-items: center;
}

@media all and (max-width: 768px){
  .title {
    margin-top: 1rem;    
  }

  .movie-actors {
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 0;
  }
}
