@import '~bootstrap/scss/bootstrap.scss';

.movie-view h3 {
  font-size: 18px;
  font-weight: 600;
}
.movie-view-img {
  margin-top: -1.5rem;
}

.title {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-top: 0;
}

.movie-actors {
  display: flex;
  gap: 10px;
  align-items: center;
}

.similar-movies {
  margin-top: 2rem;
  
  h2 {
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

&__list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 1rem;
  width: 100%;
  padding: 2rem;
 }
}

@media all and (max-width: 768px){
  .movie-view-img {
    margin-top: -1.5rem;
  }

  .title {
    margin-top: 1rem;    
  }

  .movie-actors {
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 0;
  }

  .similar-movies{
    justify-content: center;
    align-items: center;
    
  &__list {
    grid-template-columns: repeat(1, auto);
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
}
