$primary-color: steelblue;
$secondary-color: #f0f0f0;


.my-flix {
  color: #000000;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 3rem;
}

h1 {
  font-size: 2rem;
  color: $primary-color;
}

.movie-card {
  font-size: calc(7px + 2vmin);
  cursor: pointer;
}