@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$body-bg: #fff6f9;

$primary: #d54022; 
$secondary: #ffff; 
$tertiary: #333333; 
$loading-color: #f5f5f5;
$font-family: 'Poppins', sans-serif;
$active-color: #1efe00;
$nav-background: #f2f2f2;
$brand-color: #1c960c;

* {
  font-family: $font-family;
}

.main {
  padding: 1rem;

}

.ctaButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.hero-text {
  font-size: calc(36px + 2vmin);
  font-weight: bold;
  color: $primary;
  margin-top: 1rem;
}

.hero-text p {
  font-size: calc(12px + 1vmin);
  font-weight: normal;
  color: $tertiary;
  text-align: center;
  margin-top: 1rem;
  text-wrap: wrap;
}

.card-container .skeleton {
  width: 100%;
  animation: loading 2s;
}

.skeleton {  
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  width: 100%;
  height: 100%; 
  background-color: $secondary;
  gap: 3rem;
  border-radius: 6px;
  transition-property: transform 0.5s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  shape-margin: 20%;

    &__description {
      display: block;
      padding: 1rem;
      font-size: 1rem;
      justify-content: space-between;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  
    &__title {
      font-size: 1rem;
      color: $tertiary;
      text-align: left;
      padding: 0.2rem 0.8rem;
      font-weight: bold;
    }

  &__genre{   
    font-size: 1rem;
    color: $tertiary;
    text-align: right;
    padding: 0.5rem 1rem;   
  }

  &:hover, &:focus {
    transform: scale(1.05);
    animation: ease-in-out loading 2s infinite;
  }

  @keyframes loading {
    0% {
      background-color: #f5f5f5;
    }
    50% {
      background-color: #e5e5e5;
    }
    100% {
      background-color: #ffffff;
    }
 } 
}

// .skeleton .skeleton__header {
//   width: 100%;
//   height: auto;
//   overflow: hidden;
//   border-radius: 10px 10px 0 0;
// }

// .movie-card .movie-card__header img {
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
//   transition: transform 0.2s;
// }

@media all and (max-width: 768px) {
  .main {
    padding: 1rem;
  }

  .skeleton {
    grid-template-rows: repeat(2, 1fr);
  }
  .hero-text {
    font-size: calc(26px + 2vmin);
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .hero-text p {
    font-size: calc(16px + 1vmin);
  }
}